# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode / SPM
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
DerivedData/
.swiftpm/

# Binaries & Packaging
*.dmg
*.zip
*.tar.gz
*.app

# Logs & temp
*.log
scratch/
tmp/
